@import 'tailwindcss';

.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: #6b7280 #1f2937;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #1f2937;
  border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #6b7280;
  border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af;
}

.scrollbar-thin::-webkit-scrollbar-button {
  display: none;
}
